* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Inter Sans Unicode',
        Arial, sans-serif;
}

/* En savoir plus */
.ensavoirplus {
    position: absolute;
    width: 248px;
    height: 72px;
    left: calc(50% - 248px/2 + 216px);
    top: calc(50% - 72px/2 + 319px);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #FFFFFF;
}

/* Comparer */
nav {
    
    width: 170px;
    height: 80px;
    left: 692px;
    top: 53px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    display: flex;
    text-decoration: none; 
  justify-content: space-between;
  padding: 0rem calc((100vw - 1300px) / 2);

    
    
    

    color: #000000;
}

/* logo */
.logo {
    position: relative;
    width: 140px;
    height: 105px;
    left: -13px;
    top: 6px;

    background: url(Logo.png);
}

