:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-sm: 20px;
  --font-size-base: 24px;
  --font-size-lg: 32px;
  --font-size-xl: 40px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #4e4860;
}
